body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

div {
  margin: 10px;
}

a.start {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: 0;
}


.btn-primary {
  background-color: #F07D00;
  border: solid 1px #F07D00;
  border-radius: 8px;
  padding: 20px;
}

.btn-primary:hover{
  background-color: #F9B112;
  border-color: #F9B112;
  padding: 20px;
}

.btn-light{
  border: solid 1px #F07D00;
  padding: 20px;
}

.btn-light:hover{
  background-color: #F9B112;
  border-color: #F9B112;
  padding: 20px;
}

.img-thumbnail {
  border: none;
  background-color: transparent;
}

.index-logo {
  margin-top: 154px;
}

.index-card {
  margin-top: 167px;
}

.icon {
  margin: 20px;
}



